// colors
$white: #ecf0f1;
$red: #d63031;
$midnight: #2c3e50;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.nav-container{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title{
	margin-left: 20px;
	cursor: pointer;
}

// Flexbox Navbar
.nav-wrapper-flex{
	width: 95%;
	height: 50px;
	margin: 20px auto;
	background: $midnight;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $white;
}

#mobile-menu{
	display: none;
	margin-right: 20px;
	cursor: pointer;
	@media screen and (max-width: 600px){
		display: block;
	}
}

.nav-links{
	display: flex;
	list-style-type: none;
	margin-right: 25px;
	cursor: pointer;
	@media screen and (max-width: 600px){
		display: none;
	}
	li a{
		position: relative;
		margin-left: 15px;
		text-transform: uppercase;
		font-size: 0.9rem;
		text-decoration: none;
		color: $white;
		&::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 110%;
        left: 0;
        background: $white;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
			}
		&:hover::after{
			transform: scale(1);
			transform-origin: left;
		}
  }
}

#logo-grid{
	justify-self: end;
	margin-right: 20px;
}

// CSS Grid Navbar
.nav-wrapper-grid{
	width: 95%;
	height: 50px;
	background: $red;
	color: $white;
	display: grid;
	grid-template-columns: 3fr 1fr;
	justify-items: start;
	align-items: center;
	margin: 20px auto;
}

#logo-grid{
	justify-self: end;
	margin-right: 20px;
}

#mobile-menu-grid{
	display: none;
	margin-left: 20px;
	cursor: pointer;
	@media screen and (max-width: 600px){
		display: block;
	}
}

// Float Navbar
.nav-wrapper-float{
	position: relative;
	width: 95%;
	height: 50px;
	background: #ddd;
	color: $midnight;
	margin: 20px auto;
}

.nav-links-float{
	list-style: none;
	@media screen and (max-width: 600px){
		display: none;
	}
	li{
		float: left;
		margin: 18px 10px;
	}
	li a{
		display: block;
		color: $midnight;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 700;
		&:hover{
			transform: scale(1.05);
		}
	}
}

#logo-float{
	float: right;
	margin: 15px 20px;
}

#mobile-menu-float{
	display: none;
	margin: 15px 20px;
	float: left;
	cursor: pointer;
	@media screen and (max-width: 600px){
		display: block;
	}
}