/**Flex layout
BEM method - Laddgreene.com**/
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        flex-grow: 1;
        flex-shrink: 0;
        }
  
  .flex_element {
      width: 200px;
      height: 200px;
      margin: auto;
      }
  
  .flex__headline {
    font-size: 100px;
  }
      
  .flex__header {
    font-size: 18px;
    color: rgb(204,54,12);
  }
  
  .flex__description {
    font-size: 12px;
  }
  
  .flex--modifier { /**modifiers**/
      }
  
  .flex--header {
    background: #222;
    border-top: 30px solid rgb(204,54,12);
    color: #fff;
        flex-flow: column nowrap;
  }
  
  .flex--content {
    margin: auto;
    background: #ccc;
  }
  
  .content_element {
    
  }
  
  .flex--footer {
    background: #f4f4f4;
    height: 150px;
    padding: 40px;
    align-items: flex-end;
    min-height: 200px;
  }
  
  .footer_element {
    width: 300px;
    height: 200px;
    margin: auto;
  
  }