Stylus
// $structure
*
	box-sizing: border-box

$pad = 10px
	
body
	min-height: 100vh
	display: flex
	flex-direction: column

.master
	flex-grow: 1
	display: flex
	justify-content: center
	.inner-w
		display: flex
		flex-direction: column
		flex-basis: 960px // whatever
	header
		//
	main
		display: flex
		flex-direction: column
		flex-grow: 1
		@media (min-width: 900px)
			flex-direction: row
			justify-content: space-between
	.content
		flex-basis: 70% // this will keep it to the left too
		min-height: 2000px
	aside
		flex-basis: 350px
		flex-grow: 0
		flex-shrink: 0
		.widget-list
			@media (min-width: 900px)
				// width: 330px // too magic...
			.widget
				//
	footer
		//

body
	&.sticky-sidebar // added class from JS
		.master
			aside
				.widget-list
					position: fixed
					top: $pad

// $style
body
	margin: 0
	background: lightblue
	padding: $pad
.master
	background: lightgreen
	.inner-w
		padding: $pad
	header, .content, aside, footer
		padding: $pad
	header
		background: pink
		min-height: 120px
	main
		//
	.content
		background: wheat
	aside
		background: gold
		min-height: 400px
		.widget-list
			background: lightgray
			padding: $pad
			.widget
				background: rgba(0,0,0,.1)
				padding: $pad
				&:not(:first-of-type)
					margin-top: $pad
	footer
		background: gray
		min-height: 220px

ul
	margin: 0
	padding: 0
	list-style: none
