html,
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

div#popup {
  background-color: #ddd;
  margin-top: 40px;
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.green {
  background-color: #ded;
  padding: 4px 8px;
}
